.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    /* background-color: #051F40; */
    background: rgb(5,31,64);
    background: linear-gradient(90deg, rgba(5,31,64,1) 0%, rgba(2,0,36,1) 50%, rgba(1,14,17,1) 100%);
    color: #fff;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .search {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .search input {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  
  .user {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  