/* Sidebar.css */

.sidebar {
    width: 200px;
    height: 92vh;
    background-color: #f2f2f2;
    transition: transform 0.3s ease;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu-link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .menu-link:hover {
    background-color: #ccc;
  }
  