/* Sidebar.css */

.sidebar {
    width: 200px;
    height: 100vh;
    /* border-top: 1px solid white; */
    background-color: #051F40;
    transition: transform 0.3s ease;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu-link {
    display: block;
    padding: 10px;
    color: #F2F2F2;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .menu-icon {
    margin-right: 8px; /* Ajusta el espacio entre el icono y el texto */
  }
  
  .menu-title {
    font-size: 16px; /* Ajusta el tamaño de la letra */
  }
  
  .menu-link:hover {
    background-color: #333;
  }
  
  